* {
  box-sizing: border-box;
}

body {
  background: rgb(246, 219, 231);
  background: radial-gradient(
    circle,
    rgba(246, 219, 231, 1) 0%,
    rgba(194, 214, 238, 1) 100%
  );
  font-size: 20px;
}

h1 {
  text-align: center;
}

:root {
  --purple: #800080;
  --white: #ffffff;
  --green: #006400;
  --orange: #ffa500;
  --black: #080808;
}

/* Code for exercise 01-flex */
.nav-container {
  background-color: var(--purple);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -10px;
}

.nav-list {
  margin: 0;
  padding: 0;
  background-color: var(--green);
  display: flex;
}

.nav-item {
  display: inline-flex;
  width: 13rem;
  height: 5rem;
  float: left;
  white-space: nowrap;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  margin: auto;
  padding: 25px 60px;
}

.nav-item:hover,
.nav-link:hover {
  background-color: var(--orange);
  color: var(--black);
}

/*.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  margin: -10px;
  background-color: var(--green);
  padding: 20px;
}

.footer-item {
  width: 100%;
  padding: 0px 40px;
  color: var(--white);
}*/

.footer {
  padding: 20px;
  background-color: var(--green);
  display: flex;
  min-width: 768px;
}

.footer-item {
  width: 100%;
  color: var(--white);
}

.introduction {
  display: block;
  text-align: center;
}

.images {
  width: auto;
  height: 500px;
  padding: 50px 20px;
}

h1.text {
  font-size: 4rem;
  padding: 10px;
  margin-top: -20px;
}

p.text {
  font-size: 2rem;
  padding: 10px;
}

.about {
  text-align: center;
  color: var(--black);
  border-bottom: solid;
  min-width: 768px;
}

.image_profile {
  float: left;
  border-radius: 50%;
  height: 450px;
  width: 450px;
  display: flex;
  padding: 40px;
}

h2.profile_header {
  font-size: 60px;
}

h1.profile_header {
  display: inline-flex;
  padding: 20px;
  font-size: 75px;
}

p.profile_text {
  padding: 20px;
  margin: 40px;
  display: block;
  font-size: 35px;
}

@media (max-width: 768px) {
  .navlist {
    display: block;
    background-color: none;
  }
  .nav-item {
    background-color: var(--green);
  }

  .footer-item {
    width: 50%;
    background-color: var(--green);
  }
  .image_profile {
    height: 300px;
    width: 300px;
  }
}